
.logo {
  margin-top: 10px;
  height: 70px;
}
.logo-name {
  margin-top: 10px;
  height: 60px;
}
.navbar {
  padding: 1rem 2rem;
}

.navbar-nav .nav-link {
  color: #000;
  margin-left: 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease-in-out;
  white-space: nowrap !important;
}

.navbar-nav .nav-link:hover {
  color: rgb(254, 167, 5);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  width: 30px;
  height: 30px;
  background-image: url("/images/icon/list.png"); 
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.3s ease, background-image 0.3s ease;
}

.navbar-toggler.collapsed .navbar-toggler-icon {
  background-image: url("/images/icon/list.png"); 
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-image: url("/images/icon/listcross.jpg"); 
  transform: rotate(90deg); 
}

.nav-item.active .nav-link {
  color: rgb(254, 167, 5) !important;
  font-weight: bold;
}

#stickyHeader {
  background-color: #fff; 
}

@media (max-width: 980px) {
  #stickyHeader {
    position: fixed;
    top: 0;
    z-index: 1050;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar {
    padding: 0.5rem 1rem; 
  }

  .navbar-collapse {
    position: absolute;
    top: 100%;
    z-index: 1060; 
    right: 10px;
    left: auto; 
    background-color: #f8f9fa; 
    border: 1px solid #ddd;
    width: 250px; 
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
}

.call-link {
  color: #dedede;
  text-decoration: none;
  font-size: 14px;
  margin-right: 15px;
}

.call-link i {
  color: rgb(254, 167, 5);
  margin-right: 8px;
}

.call-link:hover {
  color: #ffffff;
}

/* Media Queries */

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .logo {
    height: 40px;
  }
  .logo-name {
    display: none;
  }

  #topStrip {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .navbar-collapse {
    background-color: #f8f9fa;
    top: 70px;
    right: 10px;
    width: 250px; 
    z-index: 1080;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .navbar-nav .nav-link {
    font-size: 15px;
    padding: 0.4rem 0;
    margin: 0;
    text-align: center;
    display: block;
  }
}

@media (max-width: 980px) {
  .navbar-expand-lg {
    text-align: end;
  }

  .navbar-collapse {
    position: absolute;
    background-color: #f8f9fa;
    top: 62px;
    right: 10px;
    width: 250px;
    z-index: 1080;
    border-top: 1px solid #ddd;
    padding: 10px 0px;
    border-radius: 5px;
    text-align: center;
  }
}
